.st-code {
  background-color: #252C3B;
  padding: 10px;
  color: #90C56B;

  &__line {
    padding: 5px;
  }

  .tooltip-txt {
    color: #aaaaaa;
    margin-left: 15px;
  }

  .normal-txt {
    color: #ffffff;
  }

}