.navbar-laravel {
  background-color: #343a40;

  .nav-link {
    color: rgba(255,255,255, 0.5);

    &:hover {
      color: #ffffff;
    }
  }

  .nav-item {
    &.active {
      .nav-link {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }

  .navbar-brand {
    color: red;
  }
}