@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  font-family: "Raleway", sans-serif;
  color: #1d272c;
  font-size: 0.9rem;
  line-height: 1.6;
}

.btn-primary {
  background-color: #0084bf;
  -webkit-box-shadow: inset 0 0 0 1px #dee2e6, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
  box-shadow: inset 0 0 0 1px #dee2e6, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
}

.btn-line {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #dee2e6, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
  box-shadow: inset 0 0 0 1px #dee2e6, inset 0 0 0 2px transparent, inset 0 0 0 3px transparent;
  color: #1d272c;
}

.btn-line:hover {
  background-color: #0084bf;
  color: #fff;
}

.text-area {
  min-height: 200px;
  resize: vertical;
}

.ta-sh {
  min-height: 100px;
}

.btn {
  border-radius: 2px;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e4e4e4;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #e4e4e4;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #e4e4e4;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #e4e4e4;
}

.navbar-laravel {
  background-color: #343a40;
}

.navbar-laravel .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-laravel .nav-link:hover {
  color: #ffffff;
}

.navbar-laravel .nav-item.active .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.navbar-laravel .navbar-brand {
  color: red;
}

.navbar-laravel .navbar-toggler {
  padding: 0;
}

.navbar-laravel .navbar-toggler:focus {
  outline: none;
}

.navbar-laravel .navbar-toggler span:last-child {
  margin-bottom: 0;
}

.navbar-laravel .navbar-toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 6px;
}

@media only screen and (max-width: 768px) {
  .navbar-laravel .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.page-link {
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: transparent;
}

.page-link:hover {
  border-color: #e4e4e4;
  background-color: transparent;
}

.page-item {
  margin: 0 2px;
}

.page-item.active .page-link {
  background-color: #0084bf;
  border-color: #0084bf;
}

.page-item.disabled .page-link {
  border-color: transparent;
  cursor: not-allowed;
}

.tooltip-txt {
  color: #c6c6c6;
}

.posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}

.posts__item-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.posts__img-wrap {
  width: 100%;
  padding-bottom: 60%;
  background-color: #e4e4e4;
  position: relative;
}

.posts__img-wrap .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.posts__img-wrap .btn:hover {
  background: aliceblue;
}

.posts__img-wrap:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.posts__img-wrap:hover .btn {
  display: block;
}

.posts__title, .posts__overview {
  padding: 10px;
}

.posts__pagination .pagination {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 0;
}

.posts__bar {
  margin-bottom: 30px;
}

.btn-approve {
  width: 100%;
  color: #0084bf;
  background-color: transparent;
  opacity: 0.8;
  border-radius: 0;
  border-top: 1px solid #e4e4e4;
}

.btn-approve:hover {
  opacity: 1;
  background: aliceblue;
}

/*------------------------------------------------------------------------------------------------*/
.pd__info {
  color: gray;
  margin-top: 20px;
}

.pd__info span {
  display: block;
  margin-right: 10px;
}

.pd__main {
  margin-top: 30px;
}

.pd__conent {
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity ease-out 0.2s;
  -o-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}

.pd__conent.active {
  opacity: 1;
}

.pc__preview {
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}

.pc__preview h4 {
  font-size: 20px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #e4e4e4;
}

.post-btn {
  margin-top: 20px;
}

.post-form .form-group {
  margin-top: 10px;
}

.post-form .form-group label {
  color: gray;
}

@media only screen and (max-width: 768px) {
  .posts__pagination {
    margin-top: 20px;
  }
  .posts__pagination .pagination {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .pd__save {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.pv__title {
  font-size: 18px;
  font-weight: bold;
}

.pv__sub i {
  margin-right: 6px;
}

.pv .modal-content {
  min-height: 300px;
  position: relative;
}

.pv__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
}

.pv__loading .fa {
  font-size: 30px;
}

.st-code {
  background-color: #252C3B;
  padding: 10px;
  color: #90C56B;
}

.st-code__line {
  padding: 5px;
}

.st-code .tooltip-txt {
  color: #aaaaaa;
  margin-left: 15px;
}

.st-code .normal-txt {
  color: #ffffff;
}

/*# sourceMappingURL=app.css.map */
